.how-it-works {
  padding: 1rem 0;
}

.how-it-works__content {
  max-width: 1300px;
  margin: 0 auto;
}

.how-it-works__content h2 {
  margin-bottom: 1rem;
}

.how-it-works__content h3 {
  margin-top: rem;
  margin-bottom: 0.75rem;
}

.how-it-works__content p {
  margin-bottom: 1rem;
  line-height: 1.7;
}

.credit-FAQ {
    margin-top: 3rem
}

.hero-data-credit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  font-size: 0.82rem;
  color: rgba(255, 255, 255, 0.62);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-data-credit img {
  width: 40px;                /* slightly bigger */
  height: 40px;
  object-fit: contain;
  display: block;
  opacity: 0.85;

  transform: translateY(1px); /* fine-tune vertical alignment */
}

.hero-data-credit a {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.72);
  text-decoration: none;
}

.hero-data-credit a:hover {
  text-decoration: underline;
}